*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --HEADER-BG-COLOR : #333;
    --HEADER-COLOR:    whitesmoke;
}

html{
    font-size: 1.5rem;
}
body{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

header{
    background-color: var(--HEADER-BG-COLOR);
    color: var(--HEADER-COLOR);
}
.header-title-line{
    display:flex;
    padding: 0.25rem 0.5rem;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.menu-button{
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu-icon, 
.menu-icon::before,
.menu-icon::after{
    background-color: var(--HEADER-COLOR);
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position:absolute ; 
    transition: all 0.5s;
}
.menu-icon::after,
.menu-icon::before {
    content: "";
}
.menu-icon::before{
    transform: translate(-20px, -12px);
}
.menu-icon::after{
    transform: translate(-20px, 12px);
}
:is(header:hover, header:focus-within) .menu-icon {
    background: transparent;
    transform: rotate(720deg);
    
}
:is(header:hover, header:focus-within) .menu-icon::before {
    transform: translate(-20px) rotate(45deg);
}

:is(header:hover, header:focus-within) .menu-icon::after {
    transform: translate(-20px) rotate(-45deg);
}
:is(header:hover, header:focus-within) nav {
    display: block;
    overflow: hidden;
}
nav{
    display: none;
    transform-origin: top center; 
    background-color: var(--HEADER-BG-COLOR);
    animation: showMenu 0.5s ease-in-out forwards;
}
@keyframes showMenu {
    0%{
        transform: scaleY(0);
    }
    80%{
        transform: scaleY(1.2);
    }
    100%{
        transform: scaleY(1);
    }    
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
}
nav li {
    padding: 0.5rem;
    border-top: 1px solid var(--HEADER-COLOR);
}
nav a {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
}
nav a:any-link{
    color: var(--HEADER-COLOR);
    font-weight: bold;
    text-decoration: none;
}
nav a:focus, 
nav a:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}