*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    text-size-adjust: 100%; 
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    line-height: inherit;
    
}

/* header section */

header{
    display: flex;
    background-color: rgb(94, 119, 141);
    justify-content: space-between;
    padding: 30px;
}
.header{
    background: rgba(255, 255, 255, 0.15); 
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    margin-block-start: 1.2rem;
    margin-block-end: 0;
    border: none;
    backdrop-filter: blur(10px);    
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    z-index: 500000;
    box-shadow: 0px 2px 2px 1px #00000050 ;
                           
}
header ul {
    margin-right: 10px;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}
header nav ul li a {
    text-decoration: none;
}
header nav ul li a:hover {
   color: #8E54E9;
   filter: brightness(120%);
}
/* section Start */

section{
    background-color:inherit;
    padding: 2rem;
    height: fit-content;
    display: grid;
    place-items: center;
}

/* Hero Section*/
.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background:linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
}
.hero-txt{
    max-width: 50%;
    min-height: 200px;
    font-size: xx-large;
    font-weight: 8rem;
    text-wrap: 20ch;
}
.hero-txt h1{
    font-weight: bolder;
    padding: 10px;
}
.hero-txt p{
    font-weight: 200;
    padding:10px;
    margin-top: 1rem;
    width: 25ch;
}
.buttons{
    padding: 10px;
    display: flex;
    gap: 30px;

}
.buttons button {
    border-radius: 2rem;
    height: 60px;
    margin-top: 20px;
    width: 200px;
    font-size:16px;
}
.hero-image{
    display: block;
    max-width: 400px;
    max-height: 300px;
}

/* About Section  */
h1{
    text-align: center;
    padding-bottom: 4rem;
}.h1{
    text-align: left;
}
.about{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;

    max-width: 80%;

    
}
.about > div{
    padding: 10px; 
    min-width:200px;
    line-height: 2.75rem;
    border-radius: 2rem;
    display: inline-block;
    max-width: 50%;
    box-shadow: 10px 1px 20px 5px hsla(0, 100%, 5%, 0.137);
}

.cards{
    background-color: rgb(243 232 255);
}
.upper-card{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;

}

/* Vision Section  */
.vision{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.vision div{
    max-width: 300px;
    border-radius: 0.75rem;
    max-height: max-content;   
    box-shadow: 10px 1px 20px 5px hsla(0, 100%, 5%, 0.137);
    padding: 10px;   
}
.vc{
    padding:5px;
    overflow: hidden;
}
:is(.vc img, h4,p ){
    padding-bottom: 1rem;
    font-size: 1.2rem;
}
/* learning Tracks */

.tracks{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem 2rem;
    place-content: center;
    padding: 2rem;
    overflow-x:hidden;

}
.tracks div{
    box-shadow: 10px 1px 20px 5px hsla(0, 100%, 5%, 0.137);
    padding: 2rem;   
    border-radius: 1.25rem;
}

.tracks div:hover{
    transform: translateY(-2%);
    transition-property: all;   
    transition-duration: 1s;
    transition-delay: 6s;
    transition-timing-function: ease-in-out;
   
    transition: all 0.9s ease-in 0.2s ;
}
.pc{
    text-align: center;
}

/* program details */

.details{
    display: grid;
    grid-auto-flow: column;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 350px);
    place-content: center;
}
.details div{
    padding: 2rem;
    border-radius: 1rem;
    line-height: 1.75rem;

    box-shadow: 10px 1px 20px 5px hsla(0, 100%, 5%, 0.137);
    padding: 2rem;          
}
.details div ul li::first-line{
    font-weight: bolder;
    list-style-image: url(); 
}

/* Register Now Section */

.registration{
    box-shadow: 10px 1px 20px 5px hsla(0, 100%, 5%, 0.137);
    min-width:auto;
    max-width: 50%;
    min-height: auto;
    border-radius:2rem;
    background-color: aliceblue;
    text-align: center;
}

form{
    padding: 2rem;
    display: grid;
    grid-auto-flow: row;
    gap: 30px;
    place-items:center;
}
form div {
    width: 100%;
}
form div input {
    width: 100%;
    height: 3rem;
    border-radius:10px;
    border: 1px solid;
}
form div select{
    width: 100%;
    height: 3rem;
    border-radius:10px;
    border: 1px solid;
}
form> div> textarea{
    width: 100%;
    border-radius:10px;
    border: 1px solid;
}
form div input[type=checkbox]{
    width: auto;
     height: auto;
}
.bottom-p{
    padding-top: 2rem;
}
option[value="little"]{
    height: 200px;
}
.grid{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, auto);
}


/* involved section */
.involved{
    display: flex;
    flex-flow:  row;
    justify-content: center;
    align-content: flex-start;
}

.vo{
    border: 2px solid black;
    border-right: 0px;
    height: inherit;
    padding: 2rem;
    width: 50%;

     box-shadow: 10px 1px 20px 5px hsla(0, 100%, 5%, 0.137);
    border-radius: 1.25rem;

}
.vo ul{
    height: inherit;
    list-style-type: none;
    line-height: 3rem;
} 

.vi{
    border: 2px solid black;
    width: 50%;
}

/* Contact Us */

.contact{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 20px;
}
.contact div{
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    box-shadow: 10px 1px 20px 5px hsla(0, 100%, 5%, 0.137);
    padding: 10px;   
}

.socials ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    column-gap: 10px;
    
}
.socials ul li  {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.socials h1{
    padding-top: 2rem;
}

/* footer section */
footer{
    background-color: black;
    color: azure;
    padding: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap:12rem;
}
.footer div {
    justify-self: stretch;
    height: 30vh;
    padding-top: 20px;
    
}
.footer div ul {
    list-style: none;
    margin-top: auto;
}
.footer div ul li {
    padding-top: 10px;
}
.pbottom{
    text-align: center;
}
.mb{
    margin-bottom: 10px;
}


/* ************MEDIA QUERIES************* */
@media media-type and (condition) {

  /* CSS rules */

}
@media screen and (max-width:481px)  {
    *{
        background-color: green;
    }
}